<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Document</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h3>Student2 Home</h3>

    태그 display => block, inline, inline-block
    block => p div 태그 한칸 내려옴.
    inline => label... 가로 배치(크기 수정 x)
    inline-block => 가로 배치하면서(크기 수정 o)

    <div th:if="${user != null}">
        <p th:text="${user}"></p>
        <p th:text="${user.username}"></p>
        <form th:action="@{/logout.do}" method="post">
            <input type="submit" value="로그아웃" />
        </form>    
    </div>
</body>
</html>