<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Document</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h3>게시판 목록(board2)</h3>
    <a th:href="@{/board2/insertbatch.pknu}"><button>일괄추가</button></a>
    <button th:onclick="formAction1(1)">일괄수정</button>
    <button th:onclick="formAction1(2)">일괄삭제</button>
    <hr/>

    <form th:action="@{/board2/selectlist.pknu}" method="get">
        <input type="hidden" name="page" value="1" />
        <select name="type">
            <option value="title">제목</option>
            <option value="content">내용</option>
            <option value="writer">작성자</option>
        </select>
        <input type="text" name="text" placeholder="검색어" />
        <input type="submit" value="검색" />
    </form>

    <form th:action="@{/board2/updatebatch.pknu}" method="post" id="form">
        <table>
            <thead>
                <tr>
                    <th>글 선택</th>
                    <th>글 번호</th>
                    <th>글 제목</th>
                    <th>글 내용</th>
                    <th>글 작성자</th>
                    <th>글 조회수</th>
                    <th>글 등록날짜</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="obj:${list}" >
                    <td><input type="checkbox" name="chk[]" th:value="${obj.no.longValue()}" /></td>
                    <td th:text="${obj.no.longValue()}"></td>
                    <td th:text="${obj.title}"></td>
                    <td th:text="${obj.content}"></td>
                    <td th:text="${obj.writer}"></td>
                    <td th:text="${obj.hit}"></td>
                    <td th:text="${obj.regdate}"></td>
                </tr>
            </tbody>
        </table>
    </form>
    <th:block th:each="num : ${#numbers.sequence(1,pages)}">
        <a th:href="@{/board2/selectlist.pknu(type=${param.type}, page=${num}, text=${param.text})}" th:text="${num}" style="display:inline-block"></a>
    </th:block>    
    
    <script th:inline="javascript" type="text/javascript">
        function formAction1(code) {
            alert(code);
            const form = document.getElementById('form');
            if(code === 1) {
                form.action = /*[[@{/board2/updatebatch.pknu}]]*/'';
            }
            else if(code === 2) {
                form.action = /*[[@{/board2/deletebatch.pknu}]]*/'';
            }
            form.submit();
        }
    </script>


</body>
</html>